@page
@model CapstoneProject.Pages.Admin.AdminLoginModel
@{}
    @if (Model.success_msg.Length > 0)
{
    Response.Redirect("/Student/StudentDetails");
    <div>
            <div class="row-cols-1">
                <div class="alert alert-success alert-dismissible">
                    @Model.success_msg
                    
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
            </div>
        </div>
    }
    @if (Model.error_msg.Length > 0)
    {
    
    <div>
            <div class="row-cols-1">
                <div class="alert alert-danger alert-dismissible">
                    @Model.error_msg
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
            </div>
        </div>
    }


<header class="head navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 ">
    <h1 class="text-center text-primary">ADMIN LOGIN PAGE</h1>
</header>
<br />
<br />
<style>
    body {
        background-size: 1500px;
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXDrgv4VA6q1eaLd-HDtijJ7zhiMC-y7oA5w&usqp=CAU);
    }
</style>
<form method="post">
    <div class="row row-cols-1">

        <label class="col-form-label">Admin Name</label>
        <div>
            <input type="text" class="form-control" name="admin_name" value="" required>
        </div>


        <label class="col-form-label">Password</label>
        <div>
            <input type="password" class="form-control" name="admin_password" value="" required>
        </div>
        <br>
        <br>
        <br>
        <div>
            <button class="btn btn-success">SUBMIT</button>
            <a href="/Index" type="reset" class="btn btn-danger">Cancel</a>
        </div>

    </div>
</form>
<br />


Not An Admin?<a href="/Student/StudentDecide">Click Here</a>