@page
@model CapstoneProject.Pages.Student.StudentDecideModel
@{

}
<header class="head navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 ">
    <h1 class="text-center text-info">STUDENT PAGE</h1>
</header>
<style>
    body {
        background-size: 1500px;
        background-image: url(https://images.unsplash.com/photo-1667429135701-0df2b16de1b8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80);
    }
</style>
<div class="text-center">
     <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <a href="/Student/StudentSignUp" class="btn btn-warning"> Sign Up </a>
    <a href="/Student/StudentLogin" class="btn btn-primary"> Login </a>
    <br />
    <br />
    Not a Student? <a href="/Admin/AdminLogin">Click Here</a>

</div>

